.staff-header {
  width: 100%;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  color: #28263b;
  h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

.staff-apply-btn {
  width: 166px;
  height: 60px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  &,
  &:hover {
    color: #fff !important;
    background: #000 !important;
  }
  span {
    line-height: 1;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}
