@import 'tailwindcss';
@config '../tailwind.config.js';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* body {
  margin: 0px !important;
  overflow: auto;
  background: #000;
  color: #fff;
} */

.square-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000000;
  border-color: #000000;
}

.square-checkbox .ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #000000;
}

.ant-message {
  color: #fff;
  .ant-message-notice-wrapper {
    .ant-message-notice-loading .ant-message-notice-content {
      background-color: #000;
    }
  }

  .ant-message-notice-success {
    .ant-message-notice-content {
      background-color: #119217;
    }
  }

  .ant-message-notice-error {
    .ant-message-notice-content {
      background-color: #df0e0e;
    }
  }
}

/* 
div,
span,
p,
a,
ul,
li,
label,
textarea,
input,
button,
th,
td,
h1,
h2,
h3,
h4 {
  border: 0;
  background: transparent;
} */

.active {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0) 65%
  );
  background-size: 300% 100%;
  animation-name: active;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes active {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* Copy that.geminiStyles */
.agentx-sender-container {
  /* WebKit Browser Scrollbar Style (Chrome, Safari, Edge) */
  
  /* Scroll Track and corner base styles */
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner {
    background: transparent; /* Transparent background */
    height: 12px; /* Horizontal scrollbar height */
    width: 12px; /* Vertical scrollbar width */
  }

  /* Scroll Bar Slide Default Style */
  ::-webkit-scrollbar-thumb {
    background: content-box transparent; /* Default Transparency, Invisibility */
    border: 2px solid transparent; /* Transparent Borders Create Internal Margin Effects */
    border-radius: 9999px; /* Full round slider. */
    min-height: 48px; /* Minimum height to ensure easy click */
    min-width: 48px; /* Minimum width to ensure easy click */
  }

  /* To Do Not Support Criteria scrollbar-color Browser Optimizing Performance */
  @supports not (scrollbar-color: auto) {
    :hover {
      will-change: scrollbar-color; /* Notify the browser that the scrollbar colour will change */
    }
  }

  /* Show scrollbar sliders when containers are suspended */
  :hover::-webkit-scrollbar-thumb {
    background: content-box #dde3ea; /* Light Grey Slider */
  }

  /* Styles when sliders activate or suspend */
  ::-webkit-scrollbar-thumb:active,
  ::-webkit-scrollbar-thumb:hover {
    background: content-box #c4c7c5; /* Deep gray slider, providing clear interactive feedback */
  }

  /* Hide arrow buttons at both ends of scrollbars */
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

  /* Standard CSS Scrollbar Styles (Firefox And not supported ::-webkit-scrollbar (a) The viewer */
  @supports not (selector(::-webkit-scrollbar)) {
    * {
      scrollbar-color: transparent transparent; /* Default Transparent Scrollbar */
      scrollbar-gutter: auto; /* Automatically process scrollbar position */
      scrollbar-width: thin; /* Scrollbar */
    }

    /* Show scrollbars on suspension */
    *:hover {
      scrollbar-color: #dde3ea transparent; /* Light gray slider, transparent orbit */
    }
  }
}

/* Chat Area Scrollbar Style */
.chat-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Default Transparency */
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.chat-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* Show on Suspend */
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.follow-btn-none {
  display: none;
}

/* Attachment List Card Style */
.ant-attachment-list-card-type-overview .ant-attachment-list-card-icon {
  font-size: 32px;
  padding-top: 0;
}
.ant-attachment-list-card .ant-attachment-list-card-name {
  line-height: 20px;
  font-size: 14px;
}
.ant-attachment-list-card-type-overview .ant-attachment-list-card-desc {
  line-height: 12px;
  font-size: 10px;
}

/* @js-preview/docxStyles */
.docx-wrapper {
  padding: 12px !important;
  background: none !important;

  .docx {
    width: 100% !important;
    min-height: 87vh !important;
    padding: 24px !important;
  }
}



.ant-thought-chain .ant-thought-chain-node-content{
  margin-bottom: 0;
}